body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NTR', sans-serif;
    background-color: #0a192f;
    color: #ccd6f6;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #0a192f;
    color: #ccd6f6;
    padding: 20px;
    text-align: center;
}

.header-content {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.name {
    color: #c9a0dc; /* pastel purple */
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.intro-heading {
    font-size: 28px;
    margin-bottom: 10px;
    color: #e6f1ff;
}

.intro-paragraph {
    font-size: 20px;
    text-align: center;
    color: #a8b2d1;
    max-width: 600px; 
    margin: 0 auto; 
}

.navbar-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0a192f;
    margin-top: 20px; 
}

/* Button Styles */
.button {
    display: inline-flex; 
    align-items: center;
    justify-content: center; 
    padding: 10px 20px;
    background-color: #c9a0dc; /* pastel purple */
    color: #0a192f;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.email-icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.button:hover {
    background-color: #8892b0;
    color: #e6f1ff;
}

/* Navigation Styles */
nav {
    background-color: #0a192f; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
}

.nav-links {
    display: flex; 
}

nav a {
    color: #ccd6f6; 
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}

nav a:last-child {
    margin-right: 0; 
}

nav a:hover {
    color: #c9a0dc; /* pastel purple */
}

/* Social Links Styles */
.social-links {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex; 
    align-items: center;
}

.social-links a {
    color: #ccd6f6;
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
}

.social-links a:hover {
    color: #c9a0dc; /* pastel purple */
}


#fractal-tree {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}




#message-board {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #0a192f;
    color: #FFFFFF; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#message-board h3 {
    color: #c9a0dc; /* pastel purple */
    font-size: 24px;
    margin-bottom: 10px;
}

#message-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#message-list li {
    color: #FFFFFF; 
    font-size: 18px;
    margin-bottom: 10px;
}

/* Main Content Styles */
main {
    padding: 20px;
    background-color: #0a192f;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #e6f1ff;
}

/* Footer Styles */
footer {
    background-color: #233554;
    color: #ccd6f6;
    text-align: center;
    padding: 10px;
}

footer p {
    font-family: 'NTR', sans-serif;
    font-size: 14px;
    color: #a8b2d1;
}


  /* About Me Section Styles */
  #about-me {
    background-color: #233554;
    color: #ccd6f6;
    padding: 40px;
    margin-top: -40px; /
    z-index: 1; /
    position: relative; /* Add a relative position to the about me section */
  }

.about-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.about-heading h1 {
    font-size: 28px;
    margin-right: 10px;
    color: #c9a0dc; /* pastel purple */
}

.about-heading hr {
    flex: 1;
    border: none;
    border-top: 2px solid #c9a0dc; /* pastel purple */
    margin: 0 10px;
}


.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-text {
    flex: 1;
    max-width: 600px;
    margin-right: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-text p {
    margin: 0;
}

.about-content img {
    width: 280px;
    height: 300px;
    border-radius: 15px;
    margin: 0 auto;
}

.about-lists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    max-width: 300px;
    margin-left: 40px; /* Adjust the left margin to move the list to the right */
}

.about-list {
    margin-bottom: 20px;
    font-size: 18px;
}



/* Blinking Cursor Animation */
.blinking-letter {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


/* Media Queries */
@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        position: static;
        transform: translateY(0);
        margin-top: 10px;
    }

    .navbar-container {
        margin-top: 70px;
    }
}

.container-relative {
    position: relative;
    /* Other styles for the container */
}

#fractal-tree canvas {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
}



/* Additional styles for the new Projects and Experience sections */
.bg-gray-900 {
    background-color: #0a192f;
}

.text-teal-400 {
    color: #38b2ac;
}

.bg-gray-800 {
    background-color: #2d3748;
}

.text-gray-400 {
    color: #a0aec0;
}

.text-green-300 {
    color: #68d391;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.p-6 {
    padding: 1.5rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* ... other styles as needed ... */
.overflow-x-auto {
    overflow-x: auto;
}

.flex {
    display: flex;
}

.snap-x {
    scroll-snap-type: x mandatory;
}

.snap-start {
    scroll-snap-align: start;
}

.flex-none {
    flex: none;
}


.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.w-full {
    width: 100%;
}

/* Add rounded corners to the container */
.rounded-lg {
    border-radius: 0.5rem;
}

/* For the padding inside the project containers */
.p-6 {
    padding: 1.5rem;
}

/* ... other styles ... */
.title-with-lines h2 {
    position: relative;
    padding-bottom: 0.5rem; /* Adjust the space below the title */
}

.title-with-lines h2::before,
.title-with-lines h2::after {
    content: '';
    position: absolute;
    bottom: 0; /* Align with the bottom of the title */
    left: 50%;
    width: 3rem; /* Length of the lines */
    height: 2px; /* Thickness of the lines */
    background-color: #4fd1c5; /* Color of the lines */
    transform: translateX(-50%);
}

.title-with-lines h2::before {
    margin-left: -3.5rem; /* Adjust space between the lines */
}

.title-with-lines h2::after {
    margin-left: 0.5rem; /* Adjust space between the lines */
}
/* Additional styles for the experience section */
.bg-gray-900 {
    background-color: #0a192f; /* Change as needed */
}

.text-green-300 {
    color: #68d391; /* Change as needed */
}

.experience-menu li {
    transition: color 0.3s;
}

.experience-menu li:hover {
    color: #68d391; /* Change as needed */
}

.experience-details > div {
    display: none; /* Hide all details by default */
}

.experience-details > div.active {
    display: block; /* Show the active detail */
} 

